{% extends 'base.html' %}

{% block script %}
<script type="module" defer src="../static/scripts/intern_modal.js"></script>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/styles/all_interns.css">
{% endblock %}


<!-- Main Body -->
{% block title%} Interns {% endblock %}
{% block content %}
<div class="body-container">
	<h3>Interns using YNI</h3>
	<section class="interns">

		<table class="table table-hover table-bordered">
			<thead class="table-dark">
				<tr>
					<!-- <th scope="col">#</th> -->
					<th scope="col">Full Name</th>
					<th class="hide-col" scope="col">Course</th>
					<th class="hide-col" scope="col">School</th>
					<th scope="col">Email</th>
					<th scope="col">Show intern</th>
				</tr>
			</thead>
			<tbody>
				{% set counter = 1 -%}
				{% for intern in interns %}
				<tr>
					<!-- <th scope="row">{{ counter + loop.index0 }}</th> -->
					<td id="intern-name">{{ intern.first_name }} {{ intern.last_name }}</td>
					<td class="hide-col" id="intern-course">{{ intern.course }}</td>
					<td class="hide-col" id="intern-school">{{ intern.school }}</td>
					<td id="intern-email">{{ intern.email }}</td>
					<td>
						<button type="button" data-button="{{ intern.id }}" class="intern-info btn btn-info">Info</button>
						<div class="popup">
							<div class="popup-content">
								<div>
									<h2></h2>
								</div>
								<div>
									<p>Studies: <span class="course-item"></strong>
									</p>
								</div>
								<div>
									<p>@: <span class="school-item"></span></p>
								</div>
								<div>Number of Companies applied to: <span class="company-num"></span></div>
								<div>
									<button type="button" class=" close-modal btn btn-success">Close</button>
								</div>

							</div>
						</div>
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
</div>

</section>

</div>
{% endblock %}