{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/styles/all_companies.css">
{% endblock %}

<!-- Main Body -->
{% block title%} All Companies {% endblock %}


{% block content %}
<div class="body-container">
	<h3>Companies registered on YNI</h3>
	<section class="companies">

		<table class="table table-hover table-bordered">
			<caption>All Companies</caption>
			<thead class="table-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Company Name</th>
					<th scope="col">Expertise</th>
					<th scope="col">Website</th>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>
				{% set counter = 1 -%}
				{% for company in companies %}
				<tr>
					<th scope="row">{{ counter + loop.index0 }}</th>
					<td id="intern-name">{{ company.name }}</td>
					<td id="intern-course">{{ company.specialization }}</td>
					<td id="intern-school"> <a href="">{{ company.website }}</a></td>
					<td id="intern-email">{{ company.email }}</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
</div>

</section>

</div>

{% endblock %}