{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="../static/styles/all_companies.css">
{% endblock %}

{% block title%} All Companies {% endblock %}
<!-- Main Body -->

{% block content %}
<div class="body-container">
	<!-- <div id="loading" class="spinner-border text-success" role="status">
			<span class="visually-hidden">Loading...</span>
		</div> -->
	<div class="page-directory">
		<div>
			<h3>Companies on YNI</h3>
		</div>
		<div><a href="{{ url_for('app_views.open_companies')}}">Show open companies</a></div>
	</div>

	<!-- Companies section -->
	<section class="companies">

		<table class="table table-hover table-bordered">
			<caption>Only organizations whose application windows are open are listed</caption>
			<thead class="table-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Company Name</th>
					<th scope="col">Expertise</th>
					<th scope="col">Website</th>
					<th scope="col">Email</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% set counter = 1 -%}
				{% for company in companies %}
				<tr>
					<th scope="row">{{ counter + loop.index0 }}</th>
					<td id="intern-name">{{ company.name }}</td>
					<td id="intern-course">{{ company.specialization }}</td>
					<td id="intern-school"> <a href="">{{ company.website }}</a></td>
					<td id="intern-email">{{ company.email }}</td>
					<td id="modal-popup">
						<button type="button" data-button="{{ company.id }}"
							class="company-info btn btn-outline-info">Apply</button>
						<div class="popup">
							<div class="popup-content">
								<div>
									<h2></h2>
								</div>
								<div>
									<p>specialises in: <span class="expertise-item"></strong>
									</p>
								</div>
								<div>
									<p>find us @: <a href=""><span class="website-item"></span></a></p>
								</div>
								<div>Number of applicants: <span class="applicants-num"></span></div>
								<div id="options-btn">
									<button type="button" class=" close-modal btn btn-danger">Close</button>
									<button type="button" data-button="{{ current_user.id }}"
										class="apply-to btn btn-outline-success">Proceed</button>
								</div>

							</div>
						</div>
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
</div>

</section>

</div>

{% endblock %}