{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/styles/index.css">
{% endblock %}

{% block title%} Home {% endblock %}
{% block content %}
<!-- Main Body -->
<div class="body-container">
	<section class="hero-container">
		<div class="hero-call">
			<p>The Search For Internships</p>
			<p id="count-num">Just Got Easier</p>
			<!-- <p>steps</p> -->

		</div>
		<div class="hero-logo">
			<p class="text-wrap">Your Next Intern</p>
			<!-- <p class="text-wrap">Your Next Intern</p> -->
		</div>
	</section>
	<section class="hero-dir">
		<article class="for-interns">
			<div>For Interns</div>
			<div>
				<div>
					<p>
						Find organizations easily. &ensp;
						Apply swiftly.
					</p>
				</div>
				<div class="img-container"><img src="../static/images/yni_coms.PNG" alt="Intern application image">
				</div>

			</div>

		</article>
		<article class="for-org">
			<div>For Organizations</div>
			<div>
				<div>
					<p>
						Find talents quickly.
					</p>
				</div>
				<div class="img-container"><img src="../static/images/yni_com.PNG" alt="Company profile image">
				</div>
			</div>
		</article>

		<article class="about">
			<p>
			<h2>Make Your Search Easy</h2>
			</p>
			<p>
				Built to assist undergraduates in Nigerian
				higher institutions in their search for internships.
			</p>
			<hr>
			<p>
				Organizations now have a way of recruiting interns on one platform.
				<br>
			</p>
			<br>
			<hr>
		</article>
		<article class="join-call">
			<div>
				<!-- <p>Interns</p> -->
				<p><a href="{{ url_for('app_auth.intern_signup') }}">Register as Intern</a></p>
			</div>
			<div>
				<!-- <p>Companies</p> -->
				<p><a href="{{ url_for('app_auth.org_signup') }}">Register as Company</a></p>
			</div>
			<div class="login-call">
				<p>Already Registered?</p>
				<p><a href="{{ url_for('app_auth.login') }}">Login</a></p>
			</div>
		</article>
	</section>

	<section class="dev">
		<article class="dev-profile">
			<div class="img-container"><img src="../static/images/dev_img.JPG" alt="developer's image"></div>
			<div>Taiwo Babalola</div>
			<div>Software Engineer</div>
		</article>

		<article class="contact">
			<div>Connect with me</div>
			<div id="social-links">
				<div><a href="https://twitter.com/realtaiwo_peter" target="_blank"><i
							class="fa-brands fa-twitter fa-2xl"></i></a></div>
				<div><a href="https://linkedin.com/in/taiwo-babalola" target="_blank"><i
							class="fa-brands fa-linkedin fa-2xl"></i></a></div>
				<div><a href="https://github.com/Taiwopeter-babs" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
				</div>
			</div>

		</article>
		<article class="github-link">
			<span>Link to project repo:</span><span><a href="https://github.com/Taiwopeter-babs/your-next-intern"
					target="_blank">&ensp; Click Here</a></span>
		</article>
	</section>

</div>
{% endblock %}