<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="Your Next Intern"
		content="Your Next Intern is a web application built to aid the search for interns and internship by companies and students respectively">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/index.css">
	<script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<title>Your Next Intern</title>
</head>

<body>
	<!-- HEADER -->
	<header class="header">
		<!--LINKS-->
		<nav class="nav-bar navbar navbar-expand-lg navbar-expand-md fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand logo" href="{{ url_for('app_auth.go_home') }}">YNI</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsiblenav"
					aria-controls="collapsiblenav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse navigation" id="collapsiblenav">
					<ul class="nav-links navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a href="index.html">About YNI</a></li>

						<li class="nav-item"><a href="{{ url_for('app_views.all_companies') }}">Companies</a></li>
						<li class="nav-item"><a href="">Blog</a></li>
						<li class="nav-item"><a href="">YNI Stories</a></li>
						<li class="nav-item"><a href="{{ url_for('app_views.all_interns') }}">Interns</a></li>

						{% if current_user.is_authenticated %}
						<li class="nav-item"><a href="{{ url_for('app_auth.logout') }}"> Logout</a></li>
						{% if user_class == 'Intern' %}

						<li class="nav-item"><a
								href="{{ url_for('app_views.intern_profile',  intern_id=current_user.id, _external=True) }}">
								Profile</a></li>
						{% elif user_class == 'Company' %}
						<li class="nav-item"><a
								href="{{ url_for('app_views.company_profile',  company_id=current_user.id, _external=True) }}">
								Profile</a></li>
						{%endif%}
						{% else %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle drop-button" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Register
							</a>
							<ul class="btn btn-secondary dropdown-menu dropdown-menu-dark">
								<li><a class="dropdown-item drop-item"
										href="{{ url_for('app_auth.intern_signup') }}">Intern</a></li>
								<li><a class="dropdown-item drop-item"
										href="{{ url_for('app_auth.org_signup') }}">Company</a></li>
							</ul>
						</li>
						<li class="nav-item"><a href="{{ url_for('app_auth.login') }}"> Sign In</a></li>
						{% endif %}

					</ul>
				</div>

			</div>

		</nav>
	</header>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	{% if category == 'error' %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% else %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endwith %}
	<!-- Main Body -->
	<div class="body-container">
		<section class="hero-container">
			<div class="hero-call">
				<p>Apply for internships in</p>
				<p id="count-num">3 Easy</p>
				<p>steps</p>

			</div>
			<div class="hero-logo">
				<p class="text-wrap">Your Next Intern</p>
				<p class="text-wrap">Your Next Intern</p>
			</div>
		</section>
		<section class="hero-dir">
			<article class="for-interns">
				<div class="shadow-lg p-3 mb-5 bg-body rounded">For Interns</div>
				<div>
					<div>
						<p>Register</p>
						<p>
							Select the Intern option when you click
							on the registration link
						</p>
					</div>
					<div>
						<p>Find Companies</p>
						<p>
							Find
							organizations that suit your profile
						</p>
					</div>
				</div>

			</article>
			<!-- <article class="for-org">
				<div>For Companies & Organizations</div>
				<div>
					<div>Register</div>
					<p>
						Select the <i>Company</i> option when you click
						on the registration link, Login after registration.
					</p>
				</div>
				<div>
					<div>Monitor Applicants</div>
					<p>
						Control your application, download applicants data
					</p>
				</div>
			</article> -->

			<!-- <div>Find Companies</div>
			<div>Apply</div> -->
			<!-- 
			<div><button><a href="">Register</a></button></div>
			<div><button><a href="">Find Companies</a></button></div>
			<div><button><a href="">Apply</a></button></div> -->

		</section>

	</div>

	<!-- <footer class="footer"></footer> -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
		integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
		crossorigin="anonymous"></script>
</body>

</html>