{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/styles/intern_profile.css">
{% endblock %}

{% block script %}
<script type="module" defer src="../static/scripts/intern_companies.js"></script>
<script type="module" defer src="../static/scripts/upload_image.js"></script>
{% endblock %}

<!-- Main Body -->
{% block title%} Intern Profile {% endblock %}

{% block content %}
<div class="body-container">
	<section data-id="{{ current_user.id }}" class="intern-detail">

		<article class="intern-pic">
			{% if current_user.image_path %}
			<div><img src="{{ url_for('app_views.display_image', filename=current_user.image_path) }}"
					alt="User profile image"></div>
			{% else %}
			{% if current_user.gender == 'Male' %}
			<div><img src="../static/images/default_user_image.png" alt="User profile image"></div>
			{% elif current_user.gender == 'Female' %}
			<div><img src="../static/images/default_female_img.png" alt="User profile image"></div>
			{% endif %}
			{% endif %}
			<!-- <a class="upload-button" href="/">Click to upload</a> -->

			<button class="upload-button" type="button">Change avatar</button>

		</article>
		<div class="popup">
			<div class="popup-content">
				<form class="upload-img" method="post" enctype="multipart/form-data"
					action="{{ url_for('app_views.upload_image', intern_id=current_user.id) }}">
					<label for="user_photo">Choose a profile picture (max 10MB):</label>
					<input type="file" class="form-control" id="user_photo" name="user_photo">

					<div>
						<button type="submit" class="submit-file btn btn-success" id="submit-file">Upload</button>
						<button type="button" class="cancel btn btn-outline-danger">Cancel</button>
					</div>
				</form>


			</div>
		</div>

		<article class="intern-data">
			<div>
				<h3>{{ current_user.first_name }} {{ current_user.last_name }}</h3>
			</div>
			<div>
				<p><strong>Studies</strong>: {{ current_user.course }}</p>
			</div>
			<div>
				<p id="intern-school"><strong>@</strong>: {{ current_user.school }}</p>
			</div>
			<div id="intern-contact">
				<span><strong> email: </strong>{{ current_user.email }}</span><span><strong>phone:
					</strong>{{current_user. phone}}</span>
			</div>
			<div class="apply-btn">
				<a href="{{ url_for('app_views.open_companies')}}"><button type="button" class="btn btn-info">Apply
						to companies</button></a>
			</div>
		</article>


	</section>
	<div class="company-data">
		<div class="companies-head">
			<h3>Companies You have applied to</h3>
		</div>
		<section class="companies-list">

		</section>
	</div>

</div>

{% endblock %}