<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="Your Next Intern"
		content="Your Next Intern is a web application built to aid the search for interns and internship by companies and students respectively">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="../static/styles/index.css">
	<link rel="stylesheet" href="../static/styles/common.css">
	<link rel="stylesheet" href="../static/styles/header.css">
	<link rel="stylesheet" href="../static/styles/intern_profile.css">
	<script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<title>Your Next Intern</title>
</head>

<body>
	<!-- HEADER -->
	<header class="header">

		<!--LINKS-->
		<nav class="nav-bar navbar navbar-expand-lg navbar-expand-md fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand logo" href="{{ url_for('app_auth.go_home') }}">YNI</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsiblenav"
					aria-controls="collapsiblenav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse navigation" id="collapsiblenav">
					<ul class="nav-links navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a href="index.html">About YNI</a></li>
						<li class="nav-item"><a href="./intern_profile.html">Interns</a></li>
						<li class="nav-item"><a href="{{ url_for('app_views.all_companies')}}">Companies</a></li>
						<li class="nav-item"><a href="">Blog</a></li>
						<li class="nav-item"><a href="">YNI Stories</a></li>

						<li class="nav-item"><a href="{{ url_for('app_auth.logout') }}"> Logout</a></li>
						<li class="nav-item"><a
								href="{{ url_for('app_views.intern_profile',  intern_id=current_user.id) }}">
								Profile</a></li>

					</ul>
				</div>

			</div>

		</nav>
	</header>
	<!-- Main Body -->

	<div class="body-container">
		<section class="intern-detail">

			<article class="intern-data">
				<div>
					<h3>{{ current_user.first_name }} {{ current_user.last_name }}</h3>
				</div>
				<div>
					<p><strong>Studies</strong>: {{ current_user.course }}</p>
				</div>
				<div>
					<p id="intern-school"><strong>@</strong>: {{ current_user.school }}</p>
				</div>
				<div id="intern-contact">
					<span><strong> email: </strong>{{ current_user.email }}</span><span><strong>phone:
						</strong>{{current_user. phone}}</span>
				</div>
				<div class="apply-btn">
					<a href="{{ url_for('app_views.all_companies')}}"><button type="button"
							class="btn btn-outline-secondary">Apply to companies</button></a>
				</div>
			</article>


		</section>
		<div class="company-data">
			<div class="companies-head">
				<h3>Companies You have applied to</h3>
			</div>
			<section class="companies-list">
				<article class="company">
					<div>
						<h4>Company name</h4>
					</div>
					<div>
						<p>Specialization</p>
					</div>
					<div>
						<p>Website</p>
					</div>
					<div>
						<div>
							Applied: Date applied
						</div>
						<div class="status"></div>
					</div>
				</article>
				<article class="company">
					<div>
						<h4>Company name</h4>
					</div>
					<div>
						<p>Specialization</p>
					</div>
					<div>
						<p>Website</p>
					</div>
					<div>
						<div>
							Applied: Date applied
						</div>
						<div class="status"></div>
					</div>
				</article>
				<article class="company">
					<div>
						<h4>Company name</h4>
					</div>
					<div>
						<p>Specialization</p>
					</div>
					<div>
						<p>Website</p>
					</div>
					<div>
						<div>
							Applied: Date applied
						</div>
						<div class="status"></div>
					</div>
				</article>
				<article class="company">
					<div>
						<h4>Company name</h4>
					</div>
					<div>
						<p>Specialization</p>
					</div>
					<div>
						<p>Website</p>
					</div>
					<div>
						<div>
							Applied: Date applied
						</div>
						<div class="status"></div>
					</div>
				</article>
				<article class="company">
					<div>
						<h4>Company name</h4>
					</div>
					<div>
						<p>Specialization</p>
					</div>
					<div>
						<p>Website</p>
					</div>
					<div>
						<div>
							Applied: Date applied
						</div>
						<div class="status"></div>
					</div>
				</article>
			</section>
		</div>

	</div>

	<!-- <footer class="footer"></footer> -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
		integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
		integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
		crossorigin="anonymous"></script>
</body>

</html>