{% extends 'base.html' %}

<!-- Main Body == SIGNUP -->
{% block head %}
<link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}

{% block title%} Login {% endblock %}


{% block content %}
<div class="main-body-container">
	<div class="section-heading">
		<h3>Login</h3>
	</div>
	<section class="login-form">

		<form class="row g-3 gx-1" id="intern-login-form" method="post">
			<div class="col-md-8">
				<label for="email" class="form-label"><strong>Email</strong></label>
				<input class="form-control" type="text" id="email" name="email">
			</div>
			<div class="col-md-8">
				<label class="form-label" for="password"><strong>Password</strong></label>
				<input class="form-control" type="password" id="password" name="password">
			</div>
			<div class="col-md-8" id="btn-container">
				<button type="submit" class="button submit-btn btn btn-success">Submit</button>
			</div>
		</form>

	</section>
</div>


{% endblock %}