{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/styles/open_org.css">
{% endblock %}

{% block script %}
<script type="module" defer src="../static/scripts/open_org.js"></script>
<script type="module" defer src="../static/scripts/open_org_apply.js"></script>
{% endblock %}

{% block title%} Apply To Companies {% endblock %}

<!-- Main Body -->
{% block content %}
<div class="body-container">
	<div id="loading" class="spinner-border text-success" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>

	<!-- Companies section -->
	<section class="companies" data-intern="{{ current_user.id }}">
		<div>
			<h3>All companies</h3>
		</div>

		<!--Dynamically added content here-->

	</section>

</div>
{% endblock %}