<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="Your Next Intern"
		content="Your Next Intern is a web application built to aid the search for interns and internship by companies and students respectively">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../styles/common.css">
	<link rel="stylesheet" href="../styles/header.css">
	<link rel="stylesheet" href="../styles/auth/org_signup.css">
	<title>Your Next Intern</title>
</head>

<body>
	<!-- HEADER -->
	<header class="header">
		<div class="site-logo">Your Next Intern</div>

		<!--LINKS-->
		<nav class="nav-bar">
			<ul class="nav-links">
				<li><a href="/">About YNI</a></li>
				<li><a href="">Interns</a></li>
				<li><a href="">Companies</a></li>
				<li><a href="">Search</a></li>
				<li><a href="">YNI Stories</a></li>
			</ul>
		</nav>
	</header>

	<!-- Main Body == SIGNUP -->
	<div class="main-body-container">
		<div class="section-heading">
			<h2>Organization Sign-Up</h2>
		</div>
		<section class="signup-form">

			<form class="org-data-form" action="">
				<div class="form-group required">
					<label for="org_name"><strong>Organization's Name</strong></label>
					<input type="text" id="org_name" name="org_name">
				</div>
				<div class="form-group required">
					<label for="address"><strong>Organization Address</strong></label>
					<input type="text" id="address" name="address">
				</div>
				<div class="form-group required">
					<label for="website">Organization website URL</label>
					<input type="text" id="website" name="website">
				</div>
				<div class="form-group required">
					<label for="specialization"><strong>Specialization</strong></label>
					<input type="text" id="specialization" name="specialization">
				</div>
				<div class="form-group required">
					<label for="email">Organization's Email</label>
					<input type="text" id="email" name="email">
				</div>
				<div class="form-group">
					<label for="slots">Slots Available</label>
					<input type="text" id="slots" name="slots">
				</div>
			</form>
			<button class="button submit-btn">Submit</button>
		</section>
		<!-- <div><button class="button submit-btn">Submit</button></div> -->
	</div>

	<footer class="footer"></footer>
</body>

</html>