{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/styles/org_profile.css">
{% endblock %}

{% block script %}
<script type="module" defer src="../static/scripts/company_status.js"></script>
<script type="module" defer src="../static/scripts/download.js"></script>
{% endblock %}


{% block title%} Company Profile {% endblock %}
<!-- Main Body -->
{% block content %}
<div class="body-container">

	<section class="company-details">
		<article class="company-data">
			<div> {{ current_user.name }}</div>
			<div>{{ current_user.specialization }}</div>
			<div>{{ current_user.website }}</div>
			<div>{{ current_user.email }}</div>
		</article>
		<article class="company-interact">
			<div>Current openings:&ensp; {{ current_user.available_slots }}</div>
			<div class="status-control">
				Application window: <button type="button" id="display-status" class="btn btn-success" disabled>open</button>
			</div>
			<div class="status-control">
				<button id="showStatus" type="button" data-button="{{ current_user.id }}" class="btn btn-danger">
					Close Application
				</button>
			</div>
			<div class="toggle-buttons">
				<!-- <button type="button" class="btn btn-secondary">Show applicants</button> -->
				<button type="button" class="btn btn-success">Shortlist selected interns</button>
			</div>
		</article>
	</section>
	<section class="interns">
		<div class="list-head">
			<h3>Applicants to your company</h3>
		</div>
		<div>
			<div class="table-responsive">
				<table id="internsTable" class="table table-borderless">
					<!-- <caption>List of interns that applied to your company</caption> -->
					<thead class="table-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Course</th>
							<th scope="col">School</th>
							<th scope="col">Email</th>
							<!-- <th scope="col">select</th> -->
						</tr>
					</thead>
					<tbody>
						{% set counter = 1 -%}
						{% for intern in com_interns %}
						<tr>
							<th scope="row">{{ counter + loop.index0 }}</th>
							<td>{{ intern.first_name }}</td>
							<td>{{ intern.last_name }}</td>
							<td>{{ intern.course }}</td>
							<td>{{ intern.school }}</td>
							<td>{{ intern.email }}</td>
							<!-- <td>
									<input type="checkbox" data-id="{{ intern.id }}">
								</td> -->
						</tr>
						{% endfor %}

					</tbody>
				</table>
				<button id="downloadTable" type="button" class="btn btn-primary">Download Table as csv</button>
			</div>

		</div>
	</section>

</div>

{% endblock %}