/** ============ HOME PAGE STYLES ======== **/
@font-face {
	font-family: 'Poltawski Nowy';
	/* font-family: 'PT Sans', sans-serif; */
	src: url("../fonts/PoltawskiNowy-SemiBoldItalic.ttf");
}

/* HERO section */
.hero-container {
	max-width: 100%;
	height: 16rem;
	margin: 10px;
	font-size: 2.0rem;
	color: antiquewhite;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	align-content: center;
	border: 1px solid black;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.hero-container h2 {
	color: rgb(34, 32, 30);
}

.hero-container div {
	height: 100%;
}

.hero-container p {
	line-height: 5rem;
}

.hero-call {
	text-align: center;
	width: 20%;
	line-height: 2.5rem;
}

.hero-logo {
	font-family: "Poltawski Nowy";
	font-size: 4rem;
	text-align: center;
	text-transform: capitalize;
	width: 60%;
	/* border: 1px solid black; */
}



/* Intern and company */
.intern-hero {
	max-width: 100%;
	height: 30em;

}

.intern-hero article {
	max-width: 90%;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	align-items: center;
	/* border: 1px solid black; */
}

.intern-hero article>div {
	width: 40%;
}

.intro-call,
.stories-link {
	font-family: "Poltawski Nowy";
	max-width: 40%;
	height: 100%;
	/* border: 1px solid black; */
}

.intro-call {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-content: center;
}

.intro-call>div div {
	padding: 10px;
	font-size: 2rem;
}

.intro-call h3 {
	text-decoration: line-through;
}

.stories-link {
	/* border: 1px solid black; */
	display: flex;
	flex-flow: column;
}

.stories-link>div {
	text-align: center;
	font-size: 2rem;
}

.stories-link button {
	width: 30%;
	margin: 10px auto;
	border: 1px solid rgb(34, 32, 30);
	color: rgb(34, 32, 30);
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
}

.stories-link button:hover {
	color: white;
	background-color: rgb(34, 32, 30);
}

.variety-call {
	font-size: 2rem;
	text-transform: capitalize;
	line-height: 3rem;
}