:root {
    --main-color: #0D2F35;
    --main-radial: radial-gradient(at left top, #0D2F35, #3F5C54);

    /* display flex row */
    --flex-row-type: flex;
    --flex-row-dir: row;

    /*column*/
    --flex-col-type: flex;
    --flex-row-dir: column;
}

@font-face {
    font-family: 'Poltawski Nowy';
    /* font-family: 'PT Sans', sans-serif; */
    src: url("../fonts/PoltawskiNowy-SemiBold.ttf");
}

.intern-detail {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 80%;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 30px;
    /* border: 1px solid black; */
    font-family: 'Poltawski Nowy';
    background: #6f99a6;
    color: rgb(62, 53, 53);
    font-weight: 700;
    outline: none;

}

.intern-detail>article {
    width: 40%;
    height: 100%;
    font-size: 1.5rem;
    /* border: 1px solid black; */
}

.intern-pic {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.intern-pic div:first-child {
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 50%;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.intern-detail article:first-child {
    position: relative;
    /* border: 1px solid black; */
}

.intern-pic div:first-child img {
    width: 100%;
    height: 100%;
}

.upload-button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
}

.intern-detail article:first-child:hover .upload-button {
    opacity: 1;
    z-index: 1;
}

.intern-pic div img {
    display: block;
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;
    object-fit: cover;
}

div img:hover {
    opacity: 0.2;
}

/** USER IMAGE popup */
.popup {
    position: fixed;
    top: 200px;
    left: 300px;
    /* right: 100px; */
    background: rgba(32, 20, 20, 0.58);
    width: 50%;
    height: 200px;
    /* margin: 0 auto; */
    display: none;
    color: White;
}

.popup label {
    display: block;
}

.popup input,
.popup label {
    margin: 0.4rem 0;
}

/* Popup inner div */
.popup-content {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.popup-content div {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    /* border: 1px solid black; */
}

/** =========== */
.intern-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    /* border: 1px solid black; */
    font-size: 1rem;
}

.intern-data div {
    text-align: center;
    padding: 1rem;
}

.intern-data h3 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
}

#intern-school {
    font-size: 1.2rem;
}

#intern-contact {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#intern-contact span {
    display: inline-block;
    font-size: .8rem;
}

/* ============= COMPANIES OF INTERN ============== */
.company-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poltawski Nowy';
    width: 100%;
    /* border: 1px solid black; */
}

.companies-head h3 {
    color: rgb(28, 25, 23);
    font-size: 1.2rem;
    text-transform: capitalize;
}

.companies-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 90%;
    /* border: 1px solid black; */
}


.companies-list h4 {
    align-self: center;
    margin: .5rem;
}

.company {
    /* width: 100%; */
    flex: 0 0 30%;
    /* border: 1px solid black; */
}

.company {
    margin: .5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    /* align-items: center; */
    background: var(--main-color);
    background: var(--main-radial);
    color: antiquewhite;
}

.company>div {
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}

.company div.com-date-status {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: .8rem;
    /* border: 1px solid black; */

}

.company div:last-child>div {
    /* border: 1px solid black; */
}

article.company:hover {
    /* background: antiquewhite; */
    box-shadow: 5px 5px 10px 10px lightblue;
}

.status {
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/*============= MOBILE PHONES =====*/
@media only screen and (max-width: 768px) {

    .intern-detail {
        max-width: 90%;
        height: 32rem;
        margin: 0 auto;
        margin-top: -40px;
        margin-bottom: 20px;
        padding: 10px;
        font-family: 'Poltawski Nowy';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .intern-detail>article {
        width: 100%;
        /* border: 1px solid black; */
    }

    .intern-detail article:first-child {
        height: 30%;
    }

    .intern-detail article:not(:first-child) {
        height: 70%;
    }

    .intern-pic div:first-child {
        width: 80%;
        max-width: 150px;
        aspect-ratio: 1/1;
        /* height: 100px; */
        display: flex;
        border-radius: 50%;
        /* border: 1px solid black; */
    }

    .intern-data div {
        font-size: 16px;
    }

    .upload-button {
        width: 50%;
        max-width: 70px;
        font-size: .7rem;
        text-align: center;
        aspect-ratio: 1/0.3;
        padding: 1rem;
    }

    .intern-data h3 {
        /* border: 1px solid black; */
        text-transform: capitalize;
        font-weight: 600;
    }

    #intern-school {
        font-size: 1rem;
    }

    #intern-contact span {
        font-size: 10px;
    }

    .intern-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;


    }

    .company-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Poltawski Nowy';
        border: 1px solid black;
        margin-top: 40px;
    }

    .companies-head h3 {
        color: rgb(28, 25, 23);
        font-size: 1rem;
        text-transform: capitalize;
    }

    .company {
        flex: 1 0 80%;
        margin: .5rem;
    }

    .company>div.com-date-status div {
        font-size: .7rem;
        /* border: 1px solid black; */
    }

}

@media only screen and (min-width: 768px) and (max-width: 976px) {

    .company {
        flex: 0 0 70%;
        margin: .5rem;
    }
}